@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Statistics for #fofftopic</title>

    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>

    <script>
        var token = "@Model.token";
        $.getJSON("/api/stats", {'token': token}, function(response) {
            alert(response);
        });
    </script>
</head>
<body>
    <table id="user-overview">
        <thead>
        <tr>
            <th>Username</th>
            <th>Lines</th>
            <th>Words</th>
            <th>W/L</th>
        </tr>
        </thead>
    </table>
</body>
</html>