@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<baggybot_stats.Model.UserStatistics>


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Statistics for #fofftopic</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Lines</th>
            <th>Words</th>
            <th>W/L</th>
        </tr>
        </thead>
        @foreach (var user in Model.Statistics)
        {
            <tr>
                <td>@user.IrcUser.Name</td>
                <td>@user.Lines</td>
                <td>@user.Words</td>
                <td>@(user.Words /(double)user.Lines)</td>
        </tr>
        }
    </table>
</body>
</html>